<a href="https://colab.research.google.com/github/jiyun-kong/Numpy_Tutorial/blob/main/Web_Crawling_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습

In [ ]:
import requests

In [ ]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'}
url = "https://www.naver.com/"

r = requests.get(url, headers=headers)
r.status_code

200

In [ ]:
html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_doc, 'html.parser')

print(soup.prettify())

<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  <p class="story">
   ...
  </p>
 </body>
</html>

In [ ]:
soup.title
# <title>The Dormouse's story</title>

soup.title.name
# u'title'

soup.title.string
# u'The Dormouse's story'

soup.title.parent.name
# u'head'

soup.p
# <p class="title"><b>The Dormouse's story</b></p>

soup.p['class']
# u'title'

soup.a
# <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>

soup.find_all('a')
# [<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
#  <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
#  <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

soup.find(id="link3")
# <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>

In [ ]:
soup.title

In [ ]:
soup.title.string

"The Dormouse's story"

In [ ]:
soup.p

In [ ]:
soup.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [ ]:
soup.find(id="link3")

In [ ]:
soup.find('a').string

'Elsie'

In [ ]:
str_lst = soup.find_all('a')

for i in str_lst:
  print(i.string)

Elsie
Lacie
Tillie

In [ ]:
# 처음 나오는 것 한 개의 p 태그 가져오기
soup.find('p')

In [ ]:
soup.p

In [ ]:
# a 태그에 있는 href 속성값 가져오기
soup.find('a')['href']

'http://example.com/elsie'

In [ ]:
soup.a.text

'Elsie'

In [ ]:
soup.find('a').text

'Elsie'

In [ ]:
soup.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [ ]:
soup.find_all('a')[1].get_text()

'Lacie'

In [ ]:
soup_lst = soup.find_all('a')

for i in soup_lst:
  print(i['href'])

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

In [ ]:
for i in soup_lst:
  print(i.get_text())

Elsie
Lacie
Tillie

In [ ]:
# a 태그이면서 class가 sister인 값 모두 찾아오기
soup_lst = soup.find_all('a')

for i in soup_lst:
  if i['href'] == 'http://example.com/lacie':
    print(i.text)

Lacie

In [ ]:
# a 태그이면서 id가 link3인 요소들 모두 찾기
soup.find_all('a', id='link3')

In [ ]:
soup.find_all('a', {'id':'link3'})

# 실전 (1) : Transfermarkt 크롤링
- 첫페이지 25명 정보

In [2]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import time

In [3]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'}
url = "https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop"

r = requests.get(url, headers=headers)
r.status_code

200

In [ ]:
# BeautifulSoup()으로 웹페이지 분석 준비하기
soup = BeautifulSoup(r.content, 'html.parser')  # r.text도 가능
print(soup)

In [ ]:
player_lst = soup.find_all('tr', {'class':['odd', 'even']})
player_lst

In [6]:
rank = []
name = []
position = []
age = []
nation = []
team = []
value = []

In [7]:
for p in player_lst:
  # rank
  td_player = p.find_all('td')
  rank.append(td_player[0].text)


print(rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25']

In [8]:
for p in player_lst: 
  # name
  a_player = p.find('a')
  name.append(a_player.img['title'])
print(name)

['Kylian Mbappé', 'Erling Haaland', 'Vinicius Junior', 'Phil Foden', 'Mohamed Salah', 'Harry Kane', 'Dušan Vlahović', 'Bruno Fernandes', 'Kevin De Bruyne', 'Pedri', 'Jude Bellingham', 'Declan Rice', 'Rodri', 'Christopher Nkunku', 'Trent Alexander-Arnold', 'Bernardo Silva', 'Joshua Kimmich', 'Lautaro Martínez', 'Jadon Sancho', 'Mason Mount', 'Rúben Dias', 'Heung-min Son', 'Neymar', 'Florian Wirtz', 'João Félix']

In [9]:
for p in player_lst: 
  # position
  a_player = p.find_all('tr')
  position.append(a_player[1].text)
print(position)

['Centre-Forward', 'Centre-Forward', 'Left Winger', 'Central Midfield', 'Right Winger', 'Centre-Forward', 'Centre-Forward', 'Attacking Midfield', 'Attacking Midfield', 'Central Midfield', 'Central Midfield', 'Defensive Midfield', 'Defensive Midfield', 'Second Striker', 'Right-Back', 'Attacking Midfield', 'Defensive Midfield', 'Centre-Forward', 'Left Winger', 'Attacking Midfield', 'Centre-Back', 'Left Winger', 'Left Winger', 'Attacking Midfield', 'Second Striker']

In [10]:
for p in player_lst: 
  # age
  a_player = p.find_all('td')
  age.append(a_player[5].text)
print(age)

['23', '22', '22', '22', '30', '29', '22', '27', '31', '19', '19', '23', '26', '24', '23', '28', '27', '25', '22', '23', '25', '30', '30', '19', '22']

In [11]:
for p in player_lst: 
  # nation
  a_player = p.find_all('td')
  nation.append(a_player[6].img['alt'])
print(nation)

['France', 'Norway', 'Brazil', 'England', 'Egypt', 'England', 'Serbia', 'Portugal', 'Belgium', 'Spain', 'England', 'England', 'Spain', 'France', 'England', 'Portugal', 'Germany', 'Argentina', 'England', 'England', 'Portugal', 'Korea, South', 'Brazil', 'Germany', 'Portugal']

In [12]:
for p in player_lst: 
  # team
  a_player = p.find_all('td')
  team.append(a_player[7].img['title'])
print(team)

['Paris Saint-Germain', 'Manchester City', 'Real Madrid', 'Manchester City', 'Liverpool FC', 'Tottenham Hotspur', 'Juventus FC', 'Manchester United', 'Manchester City', 'FC Barcelona', 'Borussia Dortmund', 'West Ham United', 'Manchester City', 'RB Leipzig', 'Liverpool FC', 'Manchester City', 'Bayern Munich', 'Inter Milan', 'Manchester United', 'Chelsea FC', 'Manchester City', 'Tottenham Hotspur', 'Paris Saint-Germain', 'Bayer 04 Leverkusen', 'Atlético de Madrid']

In [13]:
for p in player_lst: 
  # value
  a_player = p.find_all('td')
  value.append(a_player[8].text)
print(value)

['€160.00m\xa0', '€150.00m\xa0', '€100.00m\xa0', '€90.00m\xa0', '€90.00m\xa0', '€90.00m\xa0', '€85.00m\xa0', '€85.00m\xa0', '€85.00m\xa0', '€80.00m\xa0', '€80.00m\xa0', '€80.00m\xa0', '€80.00m\xa0', '€80.00m\xa0', '€80.00m\xa0', '€80.00m\xa0', '€80.00m\xa0', '€75.00m\xa0', '€75.00m\xa0', '€75.00m\xa0', '€75.00m\xa0', '€75.00m\xa0', '€75.00m\xa0', '€70.00m\xa0', '€70.00m\xa0']

In [14]:
# pd.DataFrame()으로 저장하기
df = pd.DataFrame(
    {
        "rank" : rank,
        "name" : name,
        "position" : position,
        "age" : age,
        "nation" : nation,
        "team" : team,
        "value" : value
    }

)

In [15]:
df

,rank,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,22,Norway,Manchester City,€150.00m
2,3,Vinicius Junior,Left Winger,22,Brazil,Real Madrid,€100.00m
3,4,Phil Foden,Central Midfield,22,England,Manchester City,€90.00m
4,5,Mohamed Salah,Right Winger,30,Egypt,Liverpool FC,€90.00m
5,6,Harry Kane,Centre-Forward,29,England,Tottenham Hotspur,€90.00m
6,7,Dušan Vlahović,Centre-Forward,22,Serbia,Juventus FC,€85.00m
7,8,Bruno Fernandes,Attacking Midfield,27,Portugal,Manchester United,€85.00m
8,9,Kevin De Bruyne,Attacking Midfield,31,Belgium,Manchester City,€85.00m
9,10,Pedri,Central Midfield,19,Spain,FC Barcelona,€80.00m
10,11,Jude Bellingham,Central Midfield,19,England,Borussia Dortmund,€80.00m
11,12,Declan Rice,Defensive Midfield,23,England,West Ham United,€80.00m
12,13,Rodri,Defensive Midfield,26,Spain,Manchester City,€80.00m
13,14,Christopher Nkunku,Second Striker,24,France,RB Leipzig,€80.00m
14,15,Trent Alexander-Arnold,Right-Back,23,England,Liverpool FC,€80.00m
15,16,Bernardo Silva,Attacking Midfield,28,Portugal,Manchester City,€80.00m
16,17,Joshua Kimmich,Defensive Midfield,27,Germany,Bayern Munich,€80.00m
17,18,Lautaro Martínez,Centre-Forward,25,Argentina,Inter Milan,€75.00m
18,19,Jadon Sancho,Left Winger,22,England,Manchester United,€75.00m
19,20,Mason Mount,Attacking Midfield,23,England,Chelsea FC,€75.00m
20,21,Rúben Dias,Centre-Back,25,Portugal,Manchester City,€75.00m
21,22,Heung-min Son,Left Winger,30,"Korea, South",Tottenham Hotspur,€75.00m
22,23,Neymar,Left Winger,30,Brazil,Paris Saint-Germain,€75.00m
23,24,Florian Wirtz,Attacking Midfield,19,Germany,Bayer 04 Leverkusen,€70.00m
24,25,João Félix,Second Striker,22,Portugal,Atlético de Madrid,€70.00m

In [17]:
# df.to_csv()로 csv 파일로 저장하기
df.to_csv('transfermarkt25.csv', index=False)

# 실전 (2) : 여러 페이지 크롤링하기
- 첫번째 페이지 ~ 두번째 페이지 총 50명 정보

In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'}

rank = []
name = []
position = []
age = []
nation = []
team = []
value = []

for i in range(1, 3):
    url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?ajax=yw1&page={i}"

    r = requests.get(url, headers=headers)
    r.status_code

    soup = BeautifulSoup(r.content, 'html.parser')  # r.text도 가능
    player_lst = soup.find_all('tr', {'class':['odd', 'even']})

  
    for p in player_lst:
      # rank
      td_player = p.find_all('td')
      rank.append(td_player[0].text)

      # name
      a_player = p.find('a')
      name.append(a_player.img['title'])

      # position
      tr_player = p.find_all('tr')
      position.append(tr_player[1].text)

      # age
      age.append(td_player[5].text)

      # nation
      nation.append(td_player[6].img['alt'])

      # team
      team.append(td_player[7].img['title'])

      # value
      value.append(td_player[8].text)
      
    time.sleep(1)

# pd.DataFrame()으로 저장하기
df = pd.DataFrame(
    {
        "rank" : rank,
        "name" : name,
        "position" : position,
        "age" : age,
        "nation" : nation,
        "team" : team,
        "value" : value
    }

)

In [21]:
df

,rank,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,22,Norway,Manchester City,€150.00m
2,3,Vinicius Junior,Left Winger,22,Brazil,Real Madrid,€100.00m
3,4,Phil Foden,Central Midfield,22,England,Manchester City,€90.00m
4,5,Mohamed Salah,Right Winger,30,Egypt,Liverpool FC,€90.00m
5,6,Harry Kane,Centre-Forward,29,England,Tottenham Hotspur,€90.00m
6,7,Dušan Vlahović,Centre-Forward,22,Serbia,Juventus FC,€85.00m
7,8,Bruno Fernandes,Attacking Midfield,27,Portugal,Manchester United,€85.00m
8,9,Kevin De Bruyne,Attacking Midfield,31,Belgium,Manchester City,€85.00m
9,10,Pedri,Central Midfield,19,Spain,FC Barcelona,€80.00m
10,11,Jude Bellingham,Central Midfield,19,England,Borussia Dortmund,€80.00m
11,12,Declan Rice,Defensive Midfield,23,England,West Ham United,€80.00m
12,13,Rodri,Defensive Midfield,26,Spain,Manchester City,€80.00m
13,14,Christopher Nkunku,Second Striker,24,France,RB Leipzig,€80.00m
14,15,Trent Alexander-Arnold,Right-Back,23,England,Liverpool FC,€80.00m
15,16,Bernardo Silva,Attacking Midfield,28,Portugal,Manchester City,€80.00m
16,17,Joshua Kimmich,Defensive Midfield,27,Germany,Bayern Munich,€80.00m
17,18,Lautaro Martínez,Centre-Forward,25,Argentina,Inter Milan,€75.00m
18,19,Jadon Sancho,Left Winger,22,England,Manchester United,€75.00m
19,20,Mason Mount,Attacking Midfield,23,England,Chelsea FC,€75.00m
20,21,Rúben Dias,Centre-Back,25,Portugal,Manchester City,€75.00m
21,22,Heung-min Son,Left Winger,30,"Korea, South",Tottenham Hotspur,€75.00m
22,23,Neymar,Left Winger,30,Brazil,Paris Saint-Germain,€75.00m
23,24,Florian Wirtz,Attacking Midfield,19,Germany,Bayer 04 Leverkusen,€70.00m
24,25,João Félix,Second Striker,22,Portugal,Atlético de Madrid,€70.00m
25,26,Alphonso Davies,Left-Back,21,Canada,Bayern Munich,€70.00m
26,27,Federico Valverde,Central Midfield,24,Uruguay,Real Madrid,€70.00m
27,28,Rafael Leão,Left Winger,23,Portugal,AC Milan,€70.00m
28,29,Matthijs de Ligt,Centre-Back,23,Netherlands,Bayern Munich,€70.00m
29,30,Kai Havertz,Attacking Midfield,23,Germany,Chelsea FC,€70.00m
30,31,Sergej Milinković-Savić,Central Midfield,27,Serbia,SS Lazio,€70.00m
31,32,Nicolò Barella,Central Midfield,25,Italy,Inter Milan,€70.00m
32,33,Jack Grealish,Left Winger,26,England,Manchester City,€70.00m
33,34,Sadio Mané,Left Winger,30,Senegal,Bayern Munich,€70.00m
34,35,Marquinhos,Centre-Back,28,Brazil,Paris Saint-Germain,€70.00m
35,36,Raheem Sterling,Left Winger,27,England,Chelsea FC,€70.00m
36,37,Romelu Lukaku,Centre-Forward,29,Belgium,Inter Milan,€70.00m
37,38,Jamal Musiala,Attacking Midfield,19,Germany,Bayern Munich,€65.00m
38,39,Luis Díaz,Left Winger,25,Colombia,Liverpool FC,€65.00m
39,40,Bukayo Saka,Right Midfield,20,England,Arsenal FC,€65.00m
40,41,Victor Osimhen,Centre-Forward,23,Nigeria,SSC Napoli,€65.00m
41,42,Achraf Hakimi,Right-Back,23,Morocco,Paris Saint-Germain,€65.00m
42,43,Federico Chiesa,Right Winger,24,Italy,Juventus FC,€65.00m
43,44,Andrew Robertson,Left-Back,28,Scotland,Liverpool FC,€65.00m
44,45,Milan Skriniar,Centre-Back,27,Slovakia,Inter Milan,€65.00m
45,46,João Cancelo,Right-Back,28,Portugal,Manchester City,€65.00m
46,47,Serge Gnabry,Right Winger,27,Germany,Bayern Munich,€65.00m
47,48,Leon Goretzka,Central Midfield,27,Germany,Bayern Munich,€65.00m
48,49,Gavi,Central Midfield,18,Spain,FC Barcelona,€60.00m
49,50,Reece James,Right-Back,22,England,Chelsea FC,€60.00m

In [22]:
df.to_csv('transmarkt50.csv')